<% content_for :title do %>
    My Basecamp
<% end %>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="d-block">
        <div class="d-block">
            <h1 class="display-2 font-weight-bold text-dark text-center">My&nbspBasecamp</h1>
            <h5 class="text-center">A project management tool for developers</h5>
        </div>
        <div>
            <a class="btn btn-dark m-5 btn-lg" href="/users/sign_up">Sign Up</a>
            <a class="btn btn-dark m-5 btn-lg" href="/users/sign_in">Login</a>
        </div>
    </div>
</div>