<div class="d-flex justify-content-center align-items-center vh-100">
    <div>
        <h1>Errors#internal_server_error</h1>
        <p>Find me in app/views/errors/internal_server_error.html.erb</p>
    <div>
<div>
